@import "layout.css";

body .first,
body .second  {
    margin: 0 auto;
    text-align: center;
}
.first {
    height: 900px;
    width: 100%;
    background-image: url(../img/main-bc.png);
    background-repeat: no-repeat;
    position: relative;
}
 .first .content{
    position: absolute;
    left: 24%;
    top: 45%;
    transform: translateY(-50%);
    letter-spacing: 1px;
}
.first div p {
    color: white;
    width: 754px;
}
.first a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 120px;
}
.first a img {
    width: 40px;
    height: 21px;
}
.first a img:hover {
    width: 50px;
    height: 30px;
    transition: .3s ease-out;
}
.second {
    padding-top: 70px;
    height: 754px;
    width: 754px;
}
h2 + p {
 margin-top: 24px;
}
.list {
    margin-top: 106px;
    display: flex;
    text-align: center;
    align-items: center;
}
.list-element {
    display: flex;
    flex-direction: column;
    width: 212px;
    margin-right: 58px;
}

.list-element:last-child {
    margin-top: 19px;
    margin-right: 0px;
}
.list-element img:last-child{
    height: 157px;
}
.link {
    margin-top: 50px;
    font-size: 28px;
}

.link-paragraph {
    margin-top: 1px;
    text-align: center;
}
