@import "layout.css";
ul .nav-list-item a {
    color: #2D2FEE;;
}
.list-links-item a {
   color: #0196EA;
}

.main-screen{
    height: 900px;
    width: 950px;
    margin: 0 auto;
    
}
.content {
 width: 754px;
 text-align: center;
 margin: 0 auto;
 margin-top: 45px;
}
img + h2 {
    margin-top: 45px;
}
.list-links {
    text-align: center;
}
.list-links:last-child {
    margin-right: 0px;
}
.list-links-item a:hover {
   color: #2D2FEE;
}
.container-uniq {
 background-color: #2D2FEE;
 color: white;
}
.container-uniq h3,
.container-uniq h4{
color: white;;
}
h3, 
h3 +p,
h4, 
h4 + p {
    width: 950px;
    margin: 0 auto;
    margin-top: 31px;
}
.img-les {
    position: absolute;
    right: 0;
    margin-top: -46px;
    margin-right: 140px;
}
.img-les:last-of-type {
 margin-top: -53px;
}
.container-uniq {
    margin-top: 80px;
   
}
.block {
padding-top: 40px;

}
.block:nth-of-type(2) {
 padding-top: 60px;
}
.block:last-of-type {
 padding-bottom: 60px;
}
.up-link {
    margin-right:260px;
}