@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
html, body{
    width: 100%;
    height: 100%;
    margin-top: 0;
    
}
body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}
a{
    color: #0196EA;
    text-decoration: none;
    font-weight: 700;
    
}
a:hover{
    text-decoration: underline;
}
h1,
h2,
h3,
h4{
    color: #2D2FEE;
}
h3,
h4{
    line-height: 145%;
    font-weight: bold;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 87px;
    line-height: 118px;
}
h2{
    font-weight: bold;
    font-size: 54px;
    line-height: 120%;
}
h3{
    font-size: 37px;
}
h4{
    font-size: 28px;
}
p{
    line-height: 145%;
}