@import "layout.css";

.main-screen {
    background-image: url(../img/map-bcc.png);
    background-repeat: no-repeat;
    height: 1040px;
}
.container {
    width: 950px;
    margin: 0 auto;
    
}
h2 {
    color: white;
    width: 552px;
    margin-top: 131px;
}
h2 + p {
  color: white;
  margin-top: 26px;
  width: 755px;
}
.list-links {
    margin-top: 152px;
    display: flex;
    flex-direction: row;
}
.list-links-item {
    font-size: 18px;
    margin-right: 34px;
}
.list-links-item a {
    color: #8CE2FF;
} 

.list-links-item a:hover {
    color: white;
    text-decoration: none;
}
h3 {
    width: 294px;
    margin-top: -50px;
}
h3 + p {
    width: 755px;
}
.link-floor {
    margin-top: 145px;
    font-size: 34px;
    color:#0196EA;
    font-weight: 700;
    margin-bottom: 50px;
}
.container-block {
    position: relative;
    margin-bottom: 113px;
}
.block-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 64px;
}
.block-content-text,
.block-content-text-rev{
    width: 552px;
}
.block-content-text {
    margin-right: 35px;
}
.block-content-text-rev{
    margin-right: 0px;
    margin-left: 70px;
}
.food-img,
.aq-img,
.typ-img,
.way-img {
    position: absolute;
}
.food-img {
    width: 634.94px;
    height: 605.89px;
    margin-left: -260px;
    margin-top: -80px;
}
.aq-img {
    right: 0;
    margin-right: -243px;
    margin-top: -40px;
}
.typ-img {
    width: 415px;
    height: 516px;
    margin-left: -200px;
    margin-top: -60px;
}
.way-img {
    width: 712.05px;
    height: 501px;
    right: 0;
    margin-right: -300px;
    margin-top: -270px;
}
.food-img + div,
.typ-img + div {
    margin-left: 400px;
}
.block-content-text-special {
    margin-left: 392px;
    margin-right: 0px;
}
h4 + p {
    margin-top: 29px;
}
h4 + p:last-child {
    margin-top: 24px;
}




